
<app-button-component [buttonText]="'Attendees List'" (displayNamePressed)="displayNames($event)"></app-button-component>

<button class="button-class"
  (click)="getCount()" 
  [style.color]="fontColor"
>Get Count</button>

<!-- <mat-checkbox></mat-checkbox> -->
<p highlight>today is {{ today | date | lowercase }}</p>
<!-- {{ birthday | date | uppercase}} -->
<!--This template is just a dumy template. Actual html templates should not have <br> tags-->
<div *ngIf="visible" class="container">
    <div class="first">
        <p style="font-size: large;">Shubham Adhane</p><br>
        <p style="font-size: large;">Shweta Agrawal</p><br>
        <p style="font-size: large;">Mohini Andhare </p><br>
        <p style="font-size: large;">Pravin Awate </p><br>
        <p style="font-size: large;">Shivani Bavage</p><br>
        <p style="font-size: large;">Gaurav A Chaudhari</p><br>
        <p style="font-size: large;">Rinkesh Chaudhari</p><br>
        <p style="font-size: large;">Hema D</p><br>
        <p style="font-size: large;">Rahul Darekar </p><br>
        <p style="font-size: large;">Chinmay Date</p><br>
        <p style="font-size: large;">Rohit Dhage</p><br>
        <p style="font-size: large;">Kuldip Gadekar </p><br>
        <p style="font-size: large;">Aishwarya Gogate</p><br>
        <p style="font-size: large;">Ameya Jatkar </p><br>
        <p style="font-size: large;">Vaibhavi Joshi</p><br>
        <p style="font-size: large;">Gauri Kale</p><br>
        <p style="font-size: large;">Shivangi Karpe</p><br>
        <p style="font-size: large;">Harshit Khanna </p><br>
        <p style="font-size: large;">Suraj Mali </p><br>
        <p style="font-size: large;">Munir Nadaf</p><br>
        <p style="font-size: large;">Shridhar NLN </p><br>
        <p style="font-size: large;">Harshad Pawar</p><br>
        <p style="font-size: large;">Prakash Pawar</p><br>
        <p style="font-size: large;">Nanasaheb Shelake </p><br>
        <p style="font-size: large;">Avdhut Sinkar</p><br>
        <p style="font-size: large;">Rupali Suravase</p><br>
        <p style="font-size: large;">Dhanashri Tambe</p><br>
        <p style="font-size: large;">Mukund Tonge</p><br>
        <p style="font-size: large;">Anagha Umathe</p><br>
        <p style="font-size: large;">Kaustubh Wagh</p><br>
    </div>
</div>
